<div class="col-md-3">
    <h2 class="text-center">🗑️カテゴリ投稿数</h2>
    <canvas id="category_chart" height="200"></canvas>
    <%= render partial: 'static_pages/chart', locals: {id: "category_chart", labels: "category_chart", data: "category_chart_count"} %>
</div>
