<div class="col-md-3">
    <h2 class="text-center">🗾地域別投稿数</h2>
    <canvas id="postChart" height="200"></canvas>
    <%= render partial: 'static_pages/chart', locals: {id: "postChart", labels: "area_ranking", data: "area_ranking_count"} %>
</div>
