<h1>Posts#new</h1>

<%= form_with(model: [@user, @post]) do |f| %>
    <%= f.text_field :description, placeholder: "説明" %>
    <div>
        カテゴリ:
        <%= f.collection_select :category_id, Category.all, :id, :g_type %>
    </div>
    <%= f.submit "投稿" %>
<% end %>
